{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Shop in style</h1>
          <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
      </div>
  </div>
</header>
<div class='container'>
  <h1 class="mt-4 text-center">Update Products</h1>

  {% comment %} <form method="post" enctype="multipart/form-data" class="mt-4">
      {% csrf_token %}

      <div class="mb-3 row">
          <label for="p_name" class="form-label col-md-3 text-md-end">Product Name:</label>
          <div class="col-md-6">
              <input type="text" id="p_name" name="p_name" class="form-control" required>
          </div>
      </div>

      <div class="mb-3 row">
          <label for="price" class="form-label col-md-3 text-md-end">Price:</label>
          <div class="col-md-6">
              <input type="number" id="price" name="price" class="form-control" min="0" step="0.01" required>
          </div>
      </div>

      <div class="mb-3 row">
          <label for="category" class="form-label col-md-3 text-md-end">Category:</label>
          <div class="col-md-6">
              <select id="category" name="category" class="form-select" required>
                  {% for category in categories %}
                      <option value="{{ category.id }}">{{ category.name }}</option>
                  {% endfor %}
              </select>
          </div>
      </div>

      <div class="mb-3 row">
          <label for="description" class="form-label col-md-3 text-md-end">Description:</label>
          <div class="col-md-6">
              <textarea id="description" name="description" class="form-control" required></textarea>
          </div>
      </div>

      <div class="mb-3 row">
          <label for="image" class="form-label col-md-3 text-md-end">Image:</label>
          <div class="col-md-6">
              <input type="file" id="image" name="image" class="form-control" accept="image/*" required>
          </div>
      </div>

      <div class="mb-3 row">
          <label for="stock" class="form-label col-md-3 text-md-end">Stock:</label>
          <div class="col-md-6">
              <input type="number" id="stock" name="stock" class="form-control" min="0" required>
          </div>
      </div>
      <div class="mb-3 row">
        <label for="is_sale" class="col-md-3 text-md-end">On Sale:</label>
        <div class="col-md-6">
            <div class="form-check form-switch">
                <input type="checkbox" id="is_sale" name="is_sale" class="form-check-input">
                <label class="form-check-label" for="is_sale"></label>
            </div>
        </div>
      </div>
    
      <div class="mb-3 row">
          <label for="sale_price" class="form-label col-md-3 text-md-end">Sale Price:</label>
          <div class="col-md-6">
              <input type="number" id="sale_price" name="sale_price" class="form-control" min="0" step="0.01">
          </div>
      </div>

      <div class="mb-3 text-center">
        <input type="submit" class="btn btn-dark btn-block" value="Update"/>
      </div>
  </form> {% endcomment %}


  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Update Product</button>
</form>
</div>


{% endblock %}